body {
  background-color: #dddddd;
  font-family: "Courier";
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body > div {
  background-color: #ffffff;
  padding: 24px;
}

body > div > p {
  line-height: 110%;
}
