body {
  background-color: #dddddd;
  font-family: "Courier";
}

body > div {
  font-family: "Courier";
  padding: 40px 20% 40px;
}

body > div > div {
  background-color: #ffffff;
  padding: 24px;
}

body > div > div:not(:last-child) {
  margin-bottom: 20px;
}

body > div > div > p {
  line-height: 110%;
}
